<div class="relative">
    <div class="header-section">
        <div class="title-and-subtitle">
            <pp-title align="left" title="Notre PURE" subtitle="Vision"></pp-title>
            <div class="pre-header">
                <strong>Concevoir un futur numérique vert&nbsp;:<br/>Votre agence web éco-responsable à Lyon</strong>
            </div>
        </div>
        <img src="images/pure_engagement.png" class="main-image"/>
    </div>
    <div class="content">
        <div class="content-section">
            <h3><strong>CE QUE NOUS FAISONS</strong></h3>
            <p> <br/>Notre approche intègre des stratégies de <strong style="color: #00A3C3">développement durable dès la conception. </strong><br/><br/>
                Conception Web Durable : Création de sites respectueux de l’environnement.<br/><br/>
                Stratégies Digitales Vertes : Campagnes marketing conçues avec une empreinte écologique réduite.<br/><br/>
                Optimisation et Accessibilité : Amélioration de la performance web pour une expérience utilisateur optimale.<br/><br/>
                Rejoignez-nous dans notre mission pour un web plus <strong style="color: #00A3C3">vert</strong> !
            </p>
        </div>
        <div class="content-section">
            <h3><strong>CE QUE NOUS CROYONS</strong></h3>
            <p><br/><strong style="color: #00A3C3">Un web éco-responsable</strong>, en réduisant l’empreinte écologique de nos créations tout en maximisant leur efficacité et leur accessibilité.<br/><br/>
                Basés sur Lyon, nous sommes au coeur d’un écosystème innovant, collaborant étroitement avec des entreprises locales
                partageant notre vision d’un futur numérique responsable.<br/><br/>
                Ensemble, construisons le web de demain : performant, accessible et respectueux de notre planète.
            </p>
        </div>
    </div>
    <img class="bg bg1" src="svg/elementgraphiquefleche.svg"/>
</div>
