<div id="body">
    <div id="header-container">
        <div class="center-content">
            <img id="etiquette-img" src="svg/offres/durable/title-form.svg" alt="" />
            <p class="etiquette slogan-offre">Création de site web de A à Z</p>
            <div class="etiquette title-etiquette">
                <p class="first-word">Durable</p>
                <p class="second-word">PIXEL</p>
            </div>

            <div class="container-text-header">
                <div class="container-subtitle">
                    <p class="subtitle">
                        Votre Vision, Notre Mission : Des
                        Sites Web Éco-responsables
                    </p>
                </div>

                <div class="container-body-header">
                    <p>
                        Le Pack Durable Pixel concentre les trois essentiels d'un site
                        web d'exception sous une seule et unique offre : </p>
                    <p><br />
                        Captivez avec un design percutant, convertissez avec une
                        stratégie marketing efficace, soyez en tête grâce a un SEO
                        optimisé.
                    </p><br/>
                    <p>Optez pour l'excellence en ligne avec notre Pack Durable Pixel.</p>
                </div>
            </div>

            <pp-button (linkClicked)="redirectToPage('/contact')" buttonText="Nous contacter"></pp-button>
          </div>
    </div>

    <div id="section-picto">
        <div class="center-content">
            <div id="section-background-fleche">
                <h2>Dépassez les attentes avec nos solutions web durables</h2>
                <div class="container-text-body">
                    <div class="left-part part">
                        <p>
                            Ce pack est spécialement conçu pour ceux qui souhaitent développer efficacement la présence
                            en ligne de leur entreprise.
                            Il offre une approche complète et personnalisée.
                        </p>
                        <p>
                            Notre expertise en création de site web englobe également l'écoconception, intégrant des
                            pratiques respectueuses de
                            l'environnement pour minimiser notre impact.
                        </p>
                        <p>
                            Nous vous accompagnons tout au long du processus, fournissant un soutien continu afin de
                            maximiser le succès de votre
                            site.
                        </p>
                    </div>
                    <div class="right-part part">
                        <p>
                            Nous partons de votre vision et la transformons en un site internet à la fois esthétique et
                            fonctionnel, optimisé pour
                            offrir une expérience à vos utilisateurs optimale.
                        </p>
                        <p>
                            Investissez dans la création d'un site internet qui allie excellence, esthétique,
                            fonctionnalité et écoconception.
                        </p>
                        <p>
                            Avec notre accompagnement dédié, votre présence en ligne atteindra de nouveaux sommets tout
                            en respectant les valeurs
                            durables de votre entreprise.
                        </p>
                    </div>
                </div>
            </div>

            <div id="pictos">
                <div class="item-pictos">
                    <span>ACQUISITION</span>
                    <img src="images/durable/first-icon.png" alt="" />
                </div>

                <div class="item-pictos">
                    <span>ÉCO-CONCEPTION</span>
                    <img src="images/durable/second-icon.png" alt="" />
                </div>

                <div class="item-pictos">
                    <span>IDENTITÉ GRAPHIQUE</span>
                    <img src="images/durable/third-icon.png" alt="" />
                </div>

                <div class="item-pictos">
                    <span>SEO</span>
                    <img src="images/durable/fourth-icon.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div id="audit-container">
        <div id="text-content">
            <h3>
                Notre PURE <br />
                Pack
            </h3>
            <div class="container-text-body white-text">
                <div class="left-part part">
                    <p>
                        <b>Acquisition :</b> Mettez en place des stratégies d'acquisition
                        efficaces pour atteindre de nouveaux publics.
                    </p>
                    <p>
                        <b>Campagne publicitaire :</b> Créez des campagnes
                        percutantes pour accroître votre notoriété et générer du trafic.
                    </p>
                    <p>
                        <b>E-réputation :</b> Gérez votre réputation en ligne de manière
                        proactive, renforçant la confiance de votre audience. Sondage,
                        jeux concours avec vos abonnées, mise en place de stratégie
                        de cadeaux pour les clients les plus fidèles.
                    </p>
                </div>
                <div class="right-part part">
                    <p>
                        <b>Rédaction SEO :</b> Des contenus optimisés pour les moteurs de
                        recherche qui renforcent votre visibilité en ligne.
                    </p>
                    <p>
                        <b>Optimisation :</b>
                    </p>
                    <ul>
                        <li>
                            <p>Performances : Amélioration des fonctionnalités techniques.</p>
                        </li>
                        <li>
                            <p>Empreinte carbone : Conception et optimisation le plus écologique possible.</p>
                        </li>
                        <li>
                            <p>SEO/SEA/SMO : Renforcez votre positionnement dans les moteurs de recherche, les médias et
                                les annonces en ligne.</p>
                        </li>
                        <li>
                            <p>UI/UX : Offrez une expérience utilisateur exceptionnelle.</p>
                        </li>
                        <li>
                            <p>Fluidité du site : Assurez une navigation sans accroc.</p>
                        </li>
                        <li>
                            <p>Copywriting : Des contenus percutants pour captiver votre audience.</p>
                        </li>
                        <li>
                            <p>Re-Branding : Modernisez et revitalisez l'image de votre marque.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="image-content">
            <img src="svg/offres/durable/computer.svg" alt="" />
        </div>
    </div>
    <div id="section-3rd">
        <div id="why-content">
            <h3>Pourquoi choisir le pack Durable Pixel ?</h3>
            <p>
                Dans un monde numérique, l'absence d'une présence en ligne peut limiter votre entreprise.
            </p>
            <p>
                Le pack Durable Pixel est la solution pour établir une présence numérique forte et distinctive en
                partant de rien.
            </p>
        </div>
        <div id="call-action">
            <h3>Commencez Votre Projet avec le pack Durable Pixel</h3>
            <p>
                Lancez votre présence numérique avec PurePixel et découvrez le potentiel illimité d'une visibilité en
                ligne bien
                construite !
            </p>
            <pp-button (linkClicked)="redirectToPage('/contact')" buttonText="Nous contacter"></pp-button>
          </div>
    </div>
</div>
