<div class="text-img-container">
    <div class="text-container">
        <pp-title class = "title-desktop "align="left" title="Votre vision," subtitle="Notre savoir faire"/>
        <pp-title class = "title-mobile "align="left" mobilealign="left" title="Votre vision," subtitle="Notre savoir faire" color="white"/>
            <p class="first-text">
                Purepixel, la première agence web éco-responsable à Lyon !
            </p>
        <br />
        <div class="learn-more-container">
            <pp-button (linkClicked)="redirectToPage('https://form.jotform.com/240862346664058')" background="black" buttonText="Estimez votre projet" icon="fa-solid fa-rocket"></pp-button>
        </div>
    </div>
    <img src="images/image_header.png"/>
</div>
    <pre>
        Chez <strong>Purepixel</strong>, nous fusionnons créativité et durabilité pour façonner l'avenir du web.

        Situés à Lyon, spécialisés dans le développement de solutions web <strong>éco-responsables</strong>, nous offrons à nos clients des
        <strong>performances</strong> optimales tout en minimisant l'impact environnemental.

        Nous avons hâte de travailler sur votre projet !
    </pre>
