<div id="header-container">
  <div class="center-content">
        <img
        id="etiquette-img"
        src="svg/offres/business/forme_header.svg"
        alt=""
      />
        <p class="etiquette slogan-offre">Découvrez de nouvelles opportunités</p>
        <div class="etiquette title-etiquette">
          <p class="first-word">Business</p>
          <p class="second-word">Création d'offres</p>
        </div>

      <div class="container-text-header">
        <div class="container-subtitle">
          <p class="subtitle">Votre business à la vitesse supérieure
          </p>
        </div>

        <div class="container-body-header">
          <p class="description">
          Votre entreprise possède un potentiel mais vous ne savez pas comment l’exploiter ? <br><br>
          Ou vous êtes à la recherche d'un accompagnement spécialisé pour mener à bien votre projet ? <br><br>
          Notre Pack Accompagnement <b>Business & Création d'Offre</b> vous offre une assistance complète pour <b>propulser votre entreprise vers le sommet !</b>
          </p>
        </div>
    </div>
    <div class="button-container">
      <pp-button class="button-margin" targetPage="https://form.jotform.com/240862346664058" background="black" buttonText="Estimez votre projet"></pp-button>
    </div>
  </div>
</div>

  <div id="section-picto">
    <div class="center-content">
      <h2>Dépassez les attentes avec nos solutions web durables</h2>
      <div class="display-row">
        <p>
          Nous vous accompagnons à chaque étape de votre projet d'application web, depuis la conceptualisation jusqu'à la réalisation et au-delà.
        </p>
        <p>
          Notre objectif est de transformer vos idées en une solution web esthétique, ergonomique et éco-conçue <br><br>
          Ensemble, créons des solutions web qui non seulement répondent à vos besoins mais contribuent aussi à un avenir plus durable.
        </p>
      </div>
      <div id="pictos">
        <div class="item-pictos">
          <span>BRANDING</span>
          <img src="svg/offres/business/picto_branding.svg" alt="" />
        </div>

        <div class="item-pictos">
          <span>ANALYSE CONCURRENTIELLE</span>
          <img
            src="svg/offres/business/picto_analyse.svg"
            alt=""
          />
        </div>

        <div class="item-pictos">
          <span>SMART MARKETING</span>
          <img src="svg/offres/business/picto_smart_marketing.svg" alt="" />
        </div>

        <div class="item-pictos">
          <span>SOLUTIONS WEB</span>
          <img src="svg/offres/business/picto_solutions.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div id="business-container">
    <div id="text-content">
      <h3>
        Notre PURE <br />
        CRÉATION D'OFFRES
      </h3>
      <div class="container">
        <div class="left">
          <p>Positionnement et Recherche de Marché (Analyse Concurrentielle) : Identifier et comprendre...</p><br>
            <p>Amélioration du Sourcing de manière éco-responsable et bénéfique financièrement : Optimisez...</p><br>
            <p>Amélioration du Branding Produit : Renforcez l'identité de vos produits pour les rendre...</p>
        </div>
        <div class="middle">
          <br><br><p>Amélioration du Copywriting : Des messages captivants et persuasifs pour séduire vos clients...</p><br>
            <p>SMART Marketing (Spécifique, Mesurable, Atteignable, Réaliste et Temporellement Défini) : Élaborez...</p>
        </div>
        <div class="right">
          <img src="svg/offres/business/computer.svg" alt="" />
        </div>
    </div>
  </div>
  </div>
  <div id="section-3rd">
    <div id="why-content">
      <h3>Pourquoi choisir le pack Business ?</h3>
      <p>
        Dans un monde numérique, l'absence d'une présence en ligne peut limiter votre entreprise.
      </p>
      <p>
        Le pack Durable Pixel est la solution pour établir une présence numérique forte et distinctive en partant de rien.
      </p>
    </div>
    <div id="call-action">
      <h3>Commencez Votre Projet avec le pack Business</h3>
      <p>
        Lancez votre présence numérique avec PurePixel et découvrez le potentiel illimité d'une visibilité en ligne bien construite !
      </p>
      <pp-button buttonText="Nous contacter" background="#000000" targetPage="/contact"></pp-button>
    </div>
  </div>
