<div class="review-card">
    <div class="header">
        <img src="{{this.imgSrc}}" alt="Photo de profile" class="profile-pic">
        <br /><br /><br /><br />
        <div class="vertical-container">
            <p>{{this.name}}</p>
            <div class="rating">
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">☆</span>
                <span class="star">☆</span>
            </div>
        </div>
    </div>
    <div class="comment">
        <p><strong>{{this.title}}</strong></p>
        <p>{{this.text}}</p>
    </div>
</div>