  <div id="header-container">
    <div class="center-content">
      <img
        id="etiquette-img"
        src="svg/offres/audit/forme_header.svg"
        alt=""
      />
      <p class="etiquette slogan-offre">Faites le point sur votre avancé</p>
      <div class="etiquette title-etiquette">
        <p class="first-word">Audit</p>
        <p class="second-word">Conseil</p>
      </div>

      <div class="container-text-header">
        <div class="container-subtitle">
          <p class="subtitle">
            Apprenez de notre expertise avec le pack Audit-Conseil
          </p>
        </div>

        <div class="container-body-header">
          <p>
            Aucun engagement de votre part, nous réalisons une analyse
            approfondie de votre site internet, de vos supports de communication
            et de votre stratégie marketing ou de toutes ressources
            complémentaires.
          </p>
        </div>
      </div>

      <pp-button class="button-header" (linkClicked)="redirectToPage('/contact')" buttonText="Nous contacter"></pp-button>
    </div>
  </div>

  <div id="section-picto">
    <div class="center-content">
      <h2>Dépassez les attentes avec nos solutions web durables</h2>
      <p>
        Votre entreprise a besoin de clarté et d'améliorations tangibles. Notre
        Pack Audit offre une évaluation exhaustive pour identifier les
        opportunités de croissance, résoudre les problèmes potentiels et
        optimiser vos performances.
      </p>

      <p>
        Nous mettons à votre disposition notre expertise pour assurer une vision
        claire de votre situation actuelle et des recommandations stratégiques
        pour un succès futur.
      </p>

      <div id="pictos">
        <div class="item-pictos">
          <span>AUDIT</span>
          <img src="svg/offres/audit/picto_audit.svg" alt="" />
        </div>

        <div class="item-pictos">
          <span>CONSULTATION</span>
          <img
            src="svg/offres/audit/picto_consultation.svg"
            alt=""
          />
        </div>

        <div class="item-pictos">
          <span>EXPERTISE</span>
          <img src="svg/offres/audit/picto_expertise.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div id="audit-container">
    <div id="text-content">
      <h3>
        Notre PURE <br />
        AUDIT
      </h3>
      <div id="audit-details">
        <p>
          <b>Audit Complet</b> : Une analyse approfondie de votre entreprise, de
          sa présence en ligne à ses opérations internes, identifiant les
          forces, les faiblesses et les opportunités.
        </p>

        <p>
          Comprenez votre positionnement par rapport à vos concurrents,
          découvrez les meilleures pratiques du secteur et identifiez des
          stratégies gagnantes.
        </p>
        <p>
          Évaluation détaillée de la performance de votre site, de son design à
          son fonctionnement technique, avec des recommandations pour
          l'optimisation.
        </p>
        <p>
          Étude approfondie de vos stratégies marketing actuelles, avec des
          suggestions pour améliorer la portée, l'efficacité et la pertinence.
        </p>
        <p>
          Rapport et Recommandations : Un document détaillé résumant nos
          conclusions, accompagné de recommandations claires et stratégiques
          pour l'amélioration.
        </p>
        <p>
          Le Pack Audit est conçu pour s'ajuster et se personnaliser en fonction
          de vos besoins spécifiques. En tant qu'élément intégré de nos autres
          packs, il offre une adaptabilité directe à vos exigences futures.
        </p>
        <p>
          Soyez assuré que notre approche d'audit est flexible et prête à
          répondre précisément à l'évolution de vos besoins, garantissant une
          solution sur mesure pour votre entreprise.
        </p>
      </div>
    </div>
    <div id="image-content">
      <img src="svg/offres/audit/computer_design.svg" alt="" />
    </div>
  </div>
  <div id="section-3rd">
    <div id="why-content">
      <h3>Pourquoi choisir le pack Audit & Conseil ?</h3>
      <p>
        Dans un monde numérique concurrentiel, votre entreprise se doit d’être dans la course.
      </p>
      <p>
        Le pack Audit Conseil est la solution pour identifier sans complaisance ce qui ralentit vos résultats.
      </p>
    </div>
    <div id="call-action">
      <h3>Optez pour le pack Audit Conseil pour découvrir ce qui ralentit votre ascension</h3>
      <p>
        Chez PurePixel nous vous aidons à trouver la bonne approche pour maximiser votre rentabilité.
      </p>
      <pp-button (linkClicked)="redirectToPage('/contact')" buttonText="Nous contacter"></pp-button>
    </div>
  </div>
