<div class="contact-container">
    <h2 class="title-form">Formulaire de contact</h2>
    <div class="left-section">
        <div class="contact-form">
            <form>
                <div class="form-left">
                    <input type="text" id="nom" name="nom" placeholder="Nom :">
                    <input type="text" id="prenom" name="prenom" placeholder="Prénom :">
                    <input type="email" id="mail" name="mail" placeholder="Mail :">
                </div>
                <div class="form-right">
                    <textarea id="message" name="message" placeholder="Message :"></textarea>
                    <button type="submit">ENVOYER</button>
                </div>
            </form>
        </div>
        <div class="contacter">
            <div class="size-text">
                <h1>Nous contacter</h1>
                <p class="middle">Votre projet mérite notre attention ! Si vous avez besoin de conseils sur votre projet web, un devis, remplissez le formulaire ci-dessus.</p>
                <p class="small">Nous nous engageons à vous répondre dans les plus brefs délais.</p>
            </div>
            <a class="linkedin-mobile" href="https://www.linkedin.com/company/purepixel-lyon/"><img src="images/linkedin.png" alt="LinkedIn"></a>
        </div>
    </div>
    <div class="contact-info-container">
        <div class="contact-info">
            <h3>Appelez nous</h3>
            <br><p>06-52-20-74-06<br>06-60-35-02-42</p><br>
            <h3>Emplacement</h3>
            <br><p>Lyon 69002</p><br>
            <h3>Horaires</h3>
            <br><p>Lun-Ven... 10 h - 20 h<br>Sam, Dim ... Fermé</p>
        </div>
        <div class="linkedin-icon">
            <a href="https://www.linkedin.com/company/purepixel-lyon/"><img src="images/linkedin.png" alt="LinkedIn"></a>
        </div>
    </div>
</div>
