<div id="body">
    <div id="header-container">
        <div class="center-content">
            <img id="etiquette-img" src="svg/offres/referencement/title-form.svg" alt="" />
            <p class="etiquette slogan-offre">Boostez votre visibilité</p>
            <div class="etiquette title-etiquette">
                <p class="first-word">Référencement</p>
                <p class="second-word">Communication</p>
            </div>

            <div class="container-text-header">
                <div class="container-subtitle">
                    <p class="subtitle">
                        ATTIRER LES REGARDS SUR VOUS AVEC LE PACK SEO & COMMUNICATION
                    </p>
                </div>

                <div class="container-body-header">
                    <p>
                        Votre site est performant, rapide, et votre branding reflète parfaitement votre vision.
                        Cependant, vous manquez
                        clairement de temps et d'expertise pour faire connaître votre entreprise sur les blogs, les
                        réseaux sociaux, et dans la
                        presse. Laissez-nous prendre en charge cette partie cruciale pour vous. </p>
                    <p><br />
                        Partagez avec nous votre vision et votre identité de marque, et nous nous chargeons de les
                        diffuser largement,
                        améliorant ainsi votre présence en ligne, votre acquisition de trafic, et construisant une
                        identité de marque forte et
                        authentique centrée sur vos valeurs.
                    </p>
                </div>
            </div>

            <pp-button (linkClicked)="redirectToPage('/contact')" buttonText="Nous contacter"></pp-button>
          </div>
    </div>

    <div id="section-picto">
        <div class="center-content">
            <div id="section-background-fleche">
                <h2>Dépassez les attentes avec nos solutions web durables</h2>
                <div class="container-text-body">
                    <div class="left-part part">
                        <p>
                            Ce pack est spécialement conçu pour ceux qui souhaitent développer efficacement la présence
                            en ligne de leur entreprise.
                            Il offre une approche complète et personnalisée.
                        </p>
                        <p>
                            Notre expertise en création de site web englobe également l'écoconception, intégrant des
                            pratiques respectueuses de
                            l'environnement pour minimiser notre impact.
                        </p>
                        <p>
                            Nous vous accompagnons tout au long du processus, fournissant un soutien continu afin de
                            maximiser le succès de votre
                            site.
                        </p>
                    </div>
                    <div class="right-part part">
                        <p>
                            Nous partons de votre vision et la transformons en un site internet à la fois esthétique et
                            fonctionnel, optimisé pour
                            offrir une expérience à vos utilisateurs optimale.
                        </p>
                        <p>
                            Investissez dans la création d'un site internet qui allie excellence, esthétique,
                            fonctionnalité et écoconception.
                        </p>
                        <p>
                            Avec notre accompagnement dédié, votre présence en ligne atteindra de nouveaux sommets tout
                            en respectant les valeurs
                            durables de votre entreprise.
                        </p>
                    </div>
                </div>
            </div>

            <div id="pictos">
                <div class="item-pictos">
                    <span>COMMUNICATION</span>
                    <img src="svg/offres/referencement/first-icon.svg" alt="" />
                </div>

                <div class="item-pictos">
                    <span>RÉSEAUX SOCIAUX</span>
                    <img src="svg/offres/referencement/second-icon.svg" alt="" />
                </div>

                <div class="item-pictos">
                    <span>SEO</span>
                    <img src="images/referencement/third-icon.png" alt="" />
                </div>

                <div class="item-pictos">
                    <span>NOUVELLES CIBLES</span>
                    <img src="svg/offres/referencement/fourth-icon.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div id="audit-container">
        <div id="text-content">
            <h3>
                Notre PURE <br />
                Stratégie de communication
            </h3>
            <div class="container-text-body white-text">
                <div class="left-part part">
                    <p>
                        Ce pack est spécialement conçu pour ceux qui souhaitent développer efficacement la présence en
                        ligne de leur
                        entreprise.
                        Il offre une approche complète et personnalisée.
                    </p>
                    <p>
                        Notre expertise en création de site web englobe également l'écoconception, intégrant des
                        pratiques
                        respectueuses de
                        l'environnement pour minimiser notre impact.
                    </p>
                    <p>
                        Nous vous accompagnons tout au long du processus, fournissant un soutien continu afin de
                        maximiser le succès
                        de votre
                        site.
                    </p>
                </div>
                <div class="right-part part">
                    <p>
                        Nous partons de votre vision et la transformons en un site internet à la fois esthétique et
                        fonctionnel,
                        optimisé pour
                        offrir une expérience à vos utilisateurs optimale.
                    </p>
                    <p>
                        Investissez dans la création d'un site internet qui allie excellence, esthétique, fonctionnalité
                        et
                        écoconception.
                    </p>
                    <p>
                        Avec notre accompagnement dédié, votre présence en ligne atteindra de nouveaux sommets tout en
                        respectant
                        les valeurs
                        durables de votre entreprise.
                    </p>
                </div>
            </div>
        </div>
        <div id="image-content">
            <img src="svg/offres/referencement/computer.svg" alt="" />
        </div>
    </div>
    <div id="section-3rd">
        <div id="why-content">
            <h3>Pourquoi choisir le pack Référencement & Communication ?</h3>
            <p>
                Dans un monde numérique, l'absence d'une présence en ligne peut limiter votre entreprise.
            </p>
            <p>
                Le pack référencement et communication est la solution pour établir ou améliorer votre présence
                numérique.
            </p>
        </div>
        <div id="call-action">
            <h3>Commencez Votre Projet avec le pack référencement & communication</h3>
            <p>
                Lancez votre présence numérique avec PurePixel et découvrez le potentiel illimité d'une visibilité en
                ligne bien
                construite !
            </p>
            <pp-button (linkClicked)="redirectToPage('/contact')" buttonText="Nous contacter"></pp-button>
          </div>
    </div>
</div>
