<div id="header-container">
    <div class="center-content">
          <img
          id="etiquette-img"
          src="svg/offres/refonte/forme_header.svg"
          alt=""
        />
        <p class="etiquette slogan-offre">Réscucitez votre site web</p>
        <div class="etiquette title-etiquette">
          <p class="first-word">Refonte</p>
          <p class="second-word">PIXEL</p>
        </div>

      </div>
      <div class="text-container">
        <p class="subtitle">Renouvelez votre identité de marque en ligne avec le pack refonte Pixel</p>
        <p class="description">
            En collaboration avec nos experts et en exploitant votre expertise métier, nous identifions ensemble les axes d'amélioration nécessaires. <br><br>
            Ce pack est spécialement conçu pour ceux qui souhaitent donner une nouvelle vie à leur présence en ligne.
        </p>
        <pp-button (linkClicked)="redirectToPage('https://form.jotform.com/240862346664058')" class="button" targetPage="https://form.jotform.com/240862346664058" background="black" buttonText="Estimez votre projet"></pp-button>
      </div>

        <div class="button-container">
          <pp-button class="button-margin" targetPage="https://form.jotform.com/240862346664058" background="black" buttonText="Estimez votre projet"></pp-button>
        </div>
</div>

    <div id="section-picto">
      <div class="center-content">
        <h2><b>Refonte Pixel : Un Nouveau Souffle Web.</b></h2>
        <div class="display-row">
          <p>
            Notre expertise web englobe également l'écoconception, intégrant des pratiques respectueuses de l'environnement pour minimiser votre impact environnemental.<br><br>
            Nous vous accompagnons tout au long du processus, fournissant un soutien continu afin de maximiser le succès de votre site.
          </p>

          <p>
            Offrez à votre site existant une seconde jeunesse avec notre expertise ciblée.<br><br>
            Avec notre accompagnement dédié, votre présence en ligne atteindra de nouveaux sommets tout en respectant les valeurs durables de votre entreprise.
          </p>
        </div>
        <div id="pictos">
          <div class="item-pictos">
            <span>RÉVISION DU CONTENU</span>
            <img src="svg/offres/refonte/contenu.svg" alt="" />
          </div>

          <div class="item-pictos">
            <span>ÉCO-CONCEPTION</span>
            <img
              src="svg/offres/refonte/eco-conception.svg"
              alt=""
            />
          </div>

          <div class="item-pictos">
            <span>NOUVEAU DESIGN</span>
            <img src="images/refonte/nvx_design.png" alt="" />
          </div>

          <div class="item-pictos">
            <span>OPTIMISATION DE PERFORMANCES</span>
            <img src="images/refonte/optimisation.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div id="business-container">
      <div id="text-content">
        <h3>
          Notre PURE <br />
          REFONTE
        </h3>
        <div class="container">
          <div class="left">
            <p>Nouveau Design : Nous modernisons et revitalisons l'image de votre marque avec notre expertise en rebranding.</p><br><br>
              <p>Optimisation et performances : Nous optimisons les performances techniques pour une expérience utilisateur sans accroc, avec une fluidité à la hauteur de vos attentes.</p><br><br>
              <p>Éco-conception : Nous veillons à réduire l’empreinte carbone de votre site internet.</p>
          </div>
          <div class="middle">
            <p>Révision du contenu : Nous retravaillons vos textes pour une approche SEO afin de renforcer votre positionnement dans les moteurs de recherche. </p>
          </div>
          <div class="right">
            <img src="svg/offres/refonte/computer.svg" alt="" />
          </div>
      </div>
    </div>
    </div>
    <div id="section-3rd">
      <div id="why-content">
        <h3>Pourquoi choisir le pack Refonte Pixel ?</h3>
        <p>
            Notre équipe d'experts en design redonne vie à votre marque avec une refonte moderne et percutante. Nous ne nous contentons pas de remodeler votre site, nous créons une expérience qui reflète l'essence même de votre identité.
        </p>
        <br>
        <p>
            La fluidité de navigation est au cœur de notre approche, offrant à vos visiteurs une immersion totale et agréable sur votre site.
        </p>
      </div>
      <div id="call-action">
        <h3>Commencez Votre Projet avec le pack Refonte Pixel</h3>
        <p>
            Lancez votre présence numérique avec PurePixel et découvrez le potentiel illimité d'une visibilité en ligne bien construite !
        </p>
        <pp-button (linkClicked)="redirectToPage('/contact')" buttonText="Nous contacter" background="#000000" ></pp-button>
      </div>
    </div>
