<div id="header-container">
    <div class="center-content">
        <img id="etiquette-img" src="svg/agence/forme_header.svg" alt="" />
        <div class="etiquette title-etiquette">
            <p class="first-word">Notre PURE</p>
            <p class="second-word">AGENCE</p>
        </div>

        <div class="container-text-header">
            <div class="left-part part">
                <div class="container-subtitle">
                    <p class="subtitle">
                      Découvrez notre équipe passionnée d'experts du web : designers créatifs, développeurs talentueux et stratèges marketing
                    </p>
                </div>

                <div class="container-body-header">
                    <p class="subsubtitle">L’origine de PurePixel :</p>
                    <p class="description">
                        PurePixel est née de la passion commune de notre équipe de huit experts en marketing digital.
                        Notre mission est claire
                        : offrir des solutions web innovantes, durables et de qualité à nos clients, tout en préservant
                        l'environnement.
                    </p>
                </div>
                <div class="container-body-header">
                    <p class="subsubtitle">PurePixel, une expertise :</p>
                    <p class="description">
                        En tant que spécialistes du marketing digital, de l'optimisation SEO et de la création de sites
                        web et e-commerce, nous
                        comprenons les défis auxquels font face les entrepreneurs. Notre expertise va au-delà des codes
                        et des algorithmes –
                        elle repose sur la compréhension profonde de vos besoins et de votre vision.
                    </p>
                </div>
            </div>
            <div class="right-part part">
                <div class="spacing"></div>
                <div class="container-body-header">
                    <p class="subsubtitle">PurePixel et la pro-activité :</p>
                    <p class="description">
                        Chez PurePixel, nous ne nous contentons pas d'anticiper les tendances, nous les créons. Notre
                        équipe proactive est
                        constamment à l'affût des dernières technologies et des meilleures pratiques pour vous offrir
                        des solutions digitales
                        qui dépassent vos attentes.
                    </p>
                </div>
                <div class="container-body-header">
                    <p class="subsubtitle">L’équipe de PurePixel :</p>
                    <p class="description">
                        Derrière PurePixel, il y a des visages, des idées et des compétences diverses. Chaque membre de
                        notre équipe apporte
                        une expertise unique, mais ce qui nous unit, c'est notre engagement envers nos valeurs
                    </p>
                </div>
                <div class="container-body-header">
                    <p class="subsubtitle">L'éco-responsabilité au cœur de PurePixel :</p>
                    <p class="description">
                        Chez PurePixel, nous ne nous contentons pas d'être des créateurs de sites web et d'experts en
                        marketing digital. Nous
                        sommes pionniers dans l'intégration de technologies éco-responsables dans toutes nos
                        réalisations. Pour nous, la
                        durabilité n'est pas une option, c'est un engagement.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
