<div class="margin-top"></div>
<pp-title align="left" title="Nos PURES" subtitle="Experts" />

<div class="pictures-container">
    <div class="picture-container">
        <img src="svg/agence/lucas.svg" />
        <p class="name">Lucas BENTO-VERSACE</p>
        <p class="job">Chef de projet</p>
    </div>
    <div class="picture-container">
        <img src="svg/agence/victor.svg" />
        <p class="name">Victor TOLLEMER</p>
        <p class="job">Chef de projet</p>
    </div>
    <div class="picture-container">
        <img src="svg/agence/theo.svg" />
        <p class="name">Théo RAMOUSSE</p>
        <p class="job">Développeur</p>
    </div>
    <div class="picture-container">
        <img src="svg/agence/yannick.svg" />
        <p class="name">Yannick MONDINGUE</p>
        <p class="job">Marketing</p>
    </div>
    <div class="picture-container">
        <img src="svg/agence/tom.svg" />
        <p class="name">Tom SCHMIDT</p>
        <p class="job">Développeur</p>
    </div>
    <div class="picture-container">
        <img src="svg/agence/gregoire.svg" />
        <p class="name">Grégoire DENIS</p>
        <p class="job">Communication</p>
    </div>
    <div class="picture-container">
        <img src="svg/agence/julia.svg" />
        <p class="name">Julia BENTO-VERSACE</p>
        <p class="job">Design</p>
    </div>
</div>
