<div class="section">
    <div class="page-avis">
        <div class="header">
            <div class="left-text">
                <br />
                <pp-title color="white" align="left" title="Nos PURE" subtitle="Avis" />
                <p class="left">Il y a bien une chose à laquelle on accorde énormément d’attention chez PurePixel Lyon, c’est votre <strong>satisfaction</strong>.</p>
            </div>
            <img class="illustration" src="svg/Vector 13@2x.svg" alt="Illustration">
        </div>
        <br /><br /><br />
        <div class="centered">
            <pp-card-container></pp-card-container>
            <pp-button (linkClicked)="redirectToPage('/contact')" background="white" textColor="black" buttonText="Nous contacter"></pp-button>
            <br />
        </div>
    </div>
</div>
