<div class="text-img-container">
    <div class="icones-title-container">
        <pp-title align="left" title="Nos PURES" subtitle="Engagements" />
    </div>
    <div class="puzzle-container">
        <div class="left-text-container text-container">
            <div>
                <h3><strong>TRANSPARENCE</strong></h3>
                <span class="span1">Notre engagement envers la transparence est inébranlable. Nous favorisons la clarté et l'intégrité à chaque interaction,
                assurant ainsi une confiance mutuelle et durable.</span>
            </div>
            <div>
                <h3><strong>ECO-CONCEPTION</strong></h3>
            <span class="span2">L'éco-conception est au cœur de nos préoccupations : nous œuvrons pour réduire au maximum l'empreinte écologique de
            votre présence numérique.</span>
            </div>
        </div>
        <img class="puzzle" src="images/puzzle.png"/>
        <div class="left-text-container text-container">
            <div>
                <h3><strong>PROXIMITE</strong></h3>
            <span class="span1">La proximité avec nos clients est essentielle. Nous nous engageons à être à vos côtés, à chaque phase de l'évolution de
            votre projet.</span>
            </div>
            <div>
                <h3><strong>A VOTRE GOUT</strong></h3>
                <span class="span2">Votre satisfaction est notre art. Nous conjuguons expertise et créativité pour concevoir des solutions sur mesure qui
                épousent parfaitement vos exigences.</span>
            </div>
        </div>
    </div>
        <pp-engagement-card-left class="mobile"
            imageUrl="images/piece-de-puzzle-1.png"
            title="TRANSPARENCE"
            paragraphText="Notre engagement envers la transparence est inébranlable.
            Nous favorisons la clarté et l'intégrité à chaque interaction, assurant ainsi une confiance mutuelle et durable."
        ></pp-engagement-card-left>
        <pp-engagement-card-right class="mobile"
            imageUrl="images/piece-de-puzzle-2.png"
            title="PROXIMITÉ"
            paragraphText="La proximité avec nos clients est essentielle. Nous nous engageons à être à vos côtés, à chaque phase de l'évolution de votre projet."
        ></pp-engagement-card-right>
        <pp-engagement-card-left class="mobile"
            imageUrl="images/piece-de-puzzle-3.png"
            title="ÉCO-CONCEPTION"
            paragraphText="L'éco-conception est au cœur de nos préoccupations : nous œuvrons pour réduire au maximum l'empreinte écologique de votre présence numérique."
        ></pp-engagement-card-left>
        <pp-engagement-card-right class="mobile"
            imageUrl="images/piece-de-puzzle-4.png"
            title="À VOTRE GOÛT"
            paragraphText="Votre satisfaction est notre art. Nous conjuguons expertise et créativité pour concevoir des solutions sur mesure qui épousent parfaitement vos exigences."
        ></pp-engagement-card-right>
</div>
