<div class="rdv-container">
    <div class="left-part">
        <p class="description">PurePixel va au-delà de l'étiquette d'une simple agence de marketing digital ; nous
            sommes votre partenaire privilégié
            dans la création d'une présence digitale qui compte. Explorez avec nous l'harmonie entre innovation,
            éco-responsabilité
            et excellence. Ensemble, concrétisons votre vision digitale. </p>
        <p class="welcome">Bienvenue chez PurePixel !</p>
        <div class="button-container">
            <pp-button targetPage="https://form.jotform.com/240862346664058" background="black"
                buttonText="Prendre rendez vous pour nous parler de votre projet !"></pp-button>
        </div>
    </div>
    <div class="right-part">
        <img src="svg/agence/rdv-illustration.svg" />
    </div>
</div>
